@keyframes c-reviews-template-18-keyframes {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
.widget.c-reviews.c-reviews-template-18 .widget-header {
  position: relative;
}
.widget.c-reviews.c-reviews-template-18 .widget-link-all {
  position: absolute;
  font-size: 10px;
  line-height: 1;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
  color: #808080;
}
.widget.c-reviews.c-reviews-template-18 .widget-link-all[data-position=left] {
  left: 0;
}
.widget.c-reviews.c-reviews-template-18 .widget-link-all[data-position=right] {
  right: 0;
}
.widget.c-reviews.c-reviews-template-18 .widget-header .widget-description {
  margin-top: 15px;
}
.widget.c-reviews.c-reviews-template-18 .widget-item-picture {
  display: block;
  font-size: 0;
  text-align: center;
  margin-right: 55px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: box-shadow 0.4s;
  -moz-transition: box-shadow 0.4s;
  -ms-transition: box-shadow 0.4s;
  -o-transition: box-shadow 0.4s;
  transition: box-shadow 0.4s;
}
.widget.c-reviews.c-reviews-template-18 .widget-item-picture::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 100%;
  overflow: hidden;
}
.widget.c-reviews.c-reviews-template-18 .widget-item-picture[data-role=video] {
  cursor: pointer;
}
.widget.c-reviews.c-reviews-template-18 .widget-item-picture-icon {
  display: inline-block;
  width: 96px;
  height: 96px;
  vertical-align: middle;
  pointer-events: none;
}
.widget.c-reviews.c-reviews-template-18 .widget-item-picture-icon-path-white {
  fill: #ffffff !important;
  stroke: #ffffff !important;
}
.widget.c-reviews.c-reviews-template-18 .widget-item-description {
  position: relative;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 24px;
  color: #808080;
}
.widget.c-reviews.c-reviews-template-18 .widget-item-name {
  display: inline-block;
  font-size: 18px;
  line-height: 20px;
  color: #404040;
  text-decoration: none;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -ms-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
}
.widget.c-reviews.c-reviews-template-18 .widget-item-rating-wrap {
  margin-top: 8px;
}
.widget.c-reviews.c-reviews-template-18 .widget-item-rating {
  color: #dddddd;
}
.widget.c-reviews.c-reviews-template-18 .widget-item-rating-active {
  color: #FBCD56;
}
.widget.c-reviews.c-reviews-template-18 .widget-item-link-detail-button {
  padding: 10px 15px !important;
  font-weight: 500;
  font-size: 10px;
  line-height: 1;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.widget.c-reviews.c-reviews-template-18 .widget-item-wrapper:hover .widget-item-picture-icon {
  animation-name: c-reviews-template-18-keyframes;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
.widget.c-reviews.c-reviews-template-18 .intec-ui-control-dots {
  padding-top: 35px;
}
.widget.c-reviews.c-reviews-template-18 .widget-footer-button {
  color: #2d2d2d !important;
}
.widget.c-reviews.c-reviews-template-18 .widget-footer-button:hover, .widget.c-reviews.c-reviews-template-18 .widget-footer-button:focus, .widget.c-reviews.c-reviews-template-18 .widget-footer-button:active {
  color: #fff !important;
}
.widget.c-reviews.c-reviews-template-18 [data-slider=false] .widget-item-wrapper:hover .widget-item-picture {
  -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.4);
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.4);
}
.widget.c-reviews.c-reviews-template-18 .widget-item-picture {
  width: 584px;
  max-width: 100%;
  height: 360px;
}
.widget.c-reviews.c-reviews-template-18 .align-left {
  text-align: left;
  justify-content: flex-start;
}
.widget.c-reviews.c-reviews-template-18 .align-center {
  text-align: center;
  justify-content: center;
}
.widget.c-reviews.c-reviews-template-18 .align-right {
  text-align: right;
  justify-content: flex-end;
}
.widget.c-reviews.c-reviews-template-18 .widget-title {
  max-width: 70%;
  word-break: break-word;
}
@media all and (max-width: 1060px) {
  .widget.c-reviews.c-reviews-template-18 .widget-item-picture {
    height: 300px;
  }
}
@media all and (max-width: 768px) {
  .widget.c-reviews.c-reviews-template-18 .widget-item-picture {
    width: 320px;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  .widget.c-reviews.c-reviews-template-18 .widget-item-picture-icon {
    width: 54px;
    height: 54px;
  }
  .widget.c-reviews.c-reviews-template-18 .widget-item-text {
    text-align: center;
  }
}
@media all and (max-width: 900px) {
  .widget.c-reviews.c-reviews-template-18 .widget-item-wrapper {
    height: auto;
  }
  .widget.c-reviews.c-reviews-template-18 .widget-item-content-wrap {
    height: auto;
  }
  .widget.c-reviews.c-reviews-template-18 .widget-item-content {
    height: auto;
  }
}
@media all and (max-width: 600px) {
  .widget.c-reviews.c-reviews-template-18 .widget-item-content {
    padding: 20px;
  }
  .widget.c-reviews.c-reviews-template-18 .widget-item-content:hover {
    background: #FBFCFD;
    box-shadow: none;
  }
}
@media all and (max-width: 500px) {
  .widget.c-reviews.c-reviews-template-18 .widget-title {
    max-width: 200px;
  }
  .widget.c-reviews.c-reviews-template-18 .widget-item-description {
    font-size: 14px;
    line-height: 21px;
  }
}
@media all and (max-width: 425px) {
  .widget.c-reviews.c-reviews-template-18 .align-center .widget-title {
    max-width: 150px;
  }
  .widget.c-reviews.c-reviews-template-18 .align-center .widget-link-all[data-position=right] {
    right: -10px;
    width: 80px;
  }
  .widget.c-reviews.c-reviews-template-18 .align-center .widget-link-all[data-position=left] {
    left: -10px;
    width: 80px;
  }
}

/*# sourceMappingURL=style.css.map */
