.widget.c-reviews.c-reviews-template-12 .widget-link-all {
  display: block;
  margin-top: 35px;
  font-size: 10px;
  line-height: 1;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
  color: #808080;
}
.widget.c-reviews.c-reviews-template-12 .widget-content-left {
  padding-top: 50px;
}
.widget.c-reviews.c-reviews-template-12 .widget-content-right {
  width: 75%;
  padding-left: 40px;
}
.widget.c-reviews.c-reviews-template-12 .widget-description {
  margin-top: 15px;
}
.widget.c-reviews.c-reviews-template-12 .widget-item-wrapper {
  padding: 30px 30px 60px 30px;
  height: 100%;
}
.widget.c-reviews.c-reviews-template-12 .widget-owl-item:last-child .widget-item {
  border-right: 1px solid #F2F2F2;
}
.widget.c-reviews.c-reviews-template-12 .widget-owl-item .widget-item {
  background: #ffffff;
  border: 1px solid #F2F2F2;
  border-right: 0;
}
.widget.c-reviews.c-reviews-template-12 .widget-item-date {
  margin-bottom: 12px;
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #808080;
}
.widget.c-reviews.c-reviews-template-12 .widget-item-image {
  display: block;
  width: 64px;
  height: 64px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.widget.c-reviews.c-reviews-template-12 .widget-item-description {
  position: relative;
  font-size: 14px;
  line-height: 24px;
  color: #808080;
  height: 72px;
  margin-top: 24px;
  margin-bottom: 16px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  max-height: 72px;
}
.widget.c-reviews.c-reviews-template-12 .widget-item-name {
  display: inline-block;
  font-size: 18px;
  line-height: 20px;
  color: #404040;
  text-decoration: none;
  -webkit-transition-duration: 350ms;
  -moz-transition-duration: 350ms;
  -ms-transition-duration: 350ms;
  -o-transition-duration: 350ms;
  transition-duration: 350ms;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -ms-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
}
.widget.c-reviews.c-reviews-template-12 .widget-item-rating {
  color: #dddddd;
}
.widget.c-reviews.c-reviews-template-12 .widget-item-rating-active {
  color: #FBCD56;
}
.widget.c-reviews.c-reviews-template-12 .widget-item-link-detail-button {
  padding: 10px 15px !important;
  font-weight: 500;
  font-size: 10px;
  line-height: 1;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.widget.c-reviews.c-reviews-template-12 .intec-ui-control-navigation {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-20px);
}
.widget.c-reviews.c-reviews-template-12 .intec-ui-control-navigation .intec-ui-part-button-left,
.widget.c-reviews.c-reviews-template-12 .intec-ui-control-navigation .intec-ui-part-button-right {
  font-size: 0;
  width: 40px;
  height: 40px;
  border: 1px solid #f2f2f2;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition-duration: 350ms;
  -moz-transition-duration: 350ms;
  -ms-transition-duration: 350ms;
  -o-transition-duration: 350ms;
  transition-duration: 350ms;
  -webkit-transition-property: background-color, border-color;
  -moz-transition-property: background-color, border-color;
  -ms-transition-property: background-color, border-color;
  -o-transition-property: background-color, border-color;
  transition-property: background-color, border-color;
  background-color: #ffffff;
}
.widget.c-reviews.c-reviews-template-12 .intec-ui-control-navigation .intec-ui-part-button-left:hover,
.widget.c-reviews.c-reviews-template-12 .intec-ui-control-navigation .intec-ui-part-button-right:hover {
  background-color: #f6f6f6;
}
.widget.c-reviews.c-reviews-template-12 .intec-ui-control-navigation .intec-ui-part-button-left:hover i,
.widget.c-reviews.c-reviews-template-12 .intec-ui-control-navigation .intec-ui-part-button-right:hover i {
  color: #ffffff;
}
.widget.c-reviews.c-reviews-template-12 .intec-ui-control-navigation .intec-ui-part-button-left i,
.widget.c-reviews.c-reviews-template-12 .intec-ui-control-navigation .intec-ui-part-button-right i {
  -webkit-transition-duration: 350ms;
  -moz-transition-duration: 350ms;
  -ms-transition-duration: 350ms;
  -o-transition-duration: 350ms;
  transition-duration: 350ms;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -ms-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  font-size: 16px;
}
.widget.c-reviews.c-reviews-template-12 .intec-ui-control-navigation .intec-ui-part-button-left {
  left: -20px;
}
.widget.c-reviews.c-reviews-template-12 .intec-ui-control-navigation .intec-ui-part-button-right {
  right: -20px;
}
.widget.c-reviews.c-reviews-template-12 .widget-footer-button {
  color: #2d2d2d !important;
}
.widget.c-reviews.c-reviews-template-12 .widget-footer-button:hover, .widget.c-reviews.c-reviews-template-12 .widget-footer-button:focus, .widget.c-reviews.c-reviews-template-12 .widget-footer-button:active {
  color: #fff !important;
}
.widget.c-reviews.c-reviews-template-12 .widget-items-dots {
  margin-top: 25px;
}
.widget.c-reviews.c-reviews-template-12 .widget-items-dots .widget-items-dot {
  margin-left: 13px;
  border: 1px solid;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition-duration: 350ms;
  -moz-transition-duration: 350ms;
  -ms-transition-duration: 350ms;
  -o-transition-duration: 350ms;
  transition-duration: 350ms;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -ms-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
}
.widget.c-reviews.c-reviews-template-12 .widget-items-dots .widget-items-dot:first-child {
  margin-left: 0;
}
.widget.c-reviews.c-reviews-template-12 .widget-items-dots .widget-items-dot:not(.active):not(:hover) {
  background: transparent !important;
}
.widget.c-reviews.c-reviews-template-12 .widget-items-dots .widget-items-dot span {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
@media all and (max-width: 980px) {
  .widget.c-reviews.c-reviews-template-12 .widget-content-left {
    padding-right: 20px;
  }
  .widget.c-reviews.c-reviews-template-12 .widget-content-right {
    width: 66%;
    padding-left: 20px;
  }
}
@media all and (max-width: 800px) {
  .widget.c-reviews.c-reviews-template-12 .widget-content-left {
    padding-right: 0;
  }
  .widget.c-reviews.c-reviews-template-12 .widget-content-right {
    width: 100%;
    margin-top: 20px;
    padding-left: 0;
  }
  .widget.c-reviews.c-reviews-template-12 .widget-link-all {
    margin-top: 20px;
  }
}
@media all and (max-width: 700px) {
  .widget.c-reviews.c-reviews-template-12 .widget-owl-item:hover {
    z-index: 2;
    box-shadow: none;
    transform: none;
  }
}
@media all and (max-width: 500px) {
  .widget.c-reviews.c-reviews-template-12 .widget-items {
    padding-left: 0;
    padding-right: 0;
  }
  .widget.c-reviews.c-reviews-template-12 .widget-item-wrapper {
    padding: 15px;
  }
  .widget.c-reviews.c-reviews-template-12 .widget-item-description {
    position: relative;
    margin-top: 12px;
    padding-bottom: 20px;
    font-size: 14px;
    line-height: 24px;
    color: #808080;
  }
  .widget.c-reviews.c-reviews-template-12 .widget-item-description:before {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
