.ns-intec-seo.c-filter-tags.c-filter-tags-default {
  display: block;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  overflow: hidden;
}
.ns-intec-seo.c-filter-tags.c-filter-tags-default .filter-tags-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: -3px;
  overflow: hidden;
  max-height: 64px;
}
.ns-intec-seo.c-filter-tags.c-filter-tags-default .filter-tags-item {
  position: relative;
  min-height: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: none;
  padding: 3px;
}
.ns-intec-seo.c-filter-tags.c-filter-tags-default .filter-tags-item[data-active=true] .filter-tags-item-name {
  transition: 0.3s;
  background-color: #f6f6f6;
}
.ns-intec-seo.c-filter-tags.c-filter-tags-default .filter-tags-item[data-active=true] .close {
  padding-left: 4px;
  font-weight: 500;
  transition: 0.3s;
  opacity: 0.7;
}
.ns-intec-seo.c-filter-tags.c-filter-tags-default .filter-tags-item {
  cursor: pointer;
}
.ns-intec-seo.c-filter-tags.c-filter-tags-default .filter-tags-item[data-active=true]:hover .filter-tags-item-name {
  background-color: #e4e2e2;
}
.ns-intec-seo.c-filter-tags.c-filter-tags-default .filter-tags-item[data-active=true]:hover .close {
  opacity: 1;
}
.ns-intec-seo.c-filter-tags.c-filter-tags-default .filter-tags-item-name {
  display: block;
  padding: 4px 12px;
  border-radius: 3px;
  background-color: #fdfdfd;
  color: #606060;
  text-decoration: none;
  -webkit-transition: background-color 350ms;
  -moz-transition: background-color 350ms;
  -ms-transition: background-color 350ms;
  -o-transition: background-color 350ms;
  transition: background-color 350ms;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.ns-intec-seo.c-filter-tags.c-filter-tags-default .filter-tags-item-name:hover {
  background-color: #f6f6f6;
}
.ns-intec-seo.c-filter-tags.c-filter-tags-default .filter-tags-buttons {
  display: none;
  margin: 10px 10px 0 10px;
}
.ns-intec-seo.c-filter-tags.c-filter-tags-default .filter-tags-button {
  border-bottom: 1px dotted #0065ff;
  text-decoration: none;
}
.ns-intec-seo.c-filter-tags.c-filter-tags-default .filter-tags-button[data-action=collapse] {
  display: none;
}
.ns-intec-seo.c-filter-tags.c-filter-tags-default[data-initialized=true] .filter-tags-items {
  max-height: none;
}
.ns-intec-seo.c-filter-tags.c-filter-tags-default[data-expandable=true] .filter-tags-buttons {
  display: block;
}
.ns-intec-seo.c-filter-tags.c-filter-tags-default[data-expanded=true] .filter-tags-button[data-action=expand] {
  display: none;
}
.ns-intec-seo.c-filter-tags.c-filter-tags-default[data-expanded=true] .filter-tags-button[data-action=collapse] {
  display: inline;
}

/*# sourceMappingURL=style.css.map */
