@import './../../../../sources/styles/include.scss';

$namespace: 'bitrix';
$component: 'catalog-section-list';
$template: 'catalog-slider-1';
$class: #{$component};
$item: #{$class}-item;

$black-header: #1B1E25;
$black-text: #404040;
$gray-text-light: #B0B0B0;
$gray-text-dark: #808080;

.ns-#{$namespace}.c-#{$component}.c-#{$component}-#{$template} {
  .intec-ui {
    &.intec-ui-control-navigation {
      position: absolute;
      top: 0;
      right: -24px;
      bottom: 0;
      left: -24px;
    }

    &.intec-ui-control-dots {
      padding-top: 10px;
    }
  }

  .#{$item} {
    overflow: hidden;
  }
  .#{$item}-wrapper {
    font-size: 0;
    margin: 30px 20px;
  }
  .#{$item}-picture-wrap {
    text-align: center;
  }
  .#{$item}-picture {
    display: block;
    width: 64px;
    height: 64px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 0 auto;

    svg {
      max-width: 100%;
      max-height: 100%;
    }
  }
  .#{$item}-name-wrap {
    text-align: center;
    margin-top: 24px;
  }
  .#{$item}-name {
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: $black-text;
    text-decoration: none;
    @include transition(350ms, color);
  }

  [data-picture-size='cover'] {
    background-size: cover;
  }
  [data-picture-size='contain'] {
    background-size: contain;
  }

  &[data-picture-size="medium"] {
    .#{$item}-picture {
      width: 80px;
      height: 80px;
    }
  }
  &[data-picture-size="small"] {
    .#{$item}-picture {
      width: 64px;
      height: 64px;
    }
  }

  &[data-slider="true"] {
    &[data-slider-navigation="true"] {
      .#{$item}s {

        @media all and (max-width: 1200px) {
          margin: 0 24px;
          margin-top: -25px;
          width: auto;
        }
      }
    }

    &[data-slider-dots="true"] {
      .intec-ui {
        &.intec-ui-control-navigation {
          bottom: 30px;

          @media all and (max-width: 500px) {
            bottom: 0;
          }
        }
      }
    }
  }
}