$component: 'product-timer';
$template: 'template-1';
$item: 'widget-product-timer-item';

@mixin transition ($property, $duration) {
  -webkit-transition-property: $property;
  -moz-transition-property: $property;
  -ms-transition-property: $property;
  -o-transition-property: $property;
  transition-property: $property;
  -webkit-transition-duration: $duration;
  -moz-transition-duration: $duration;
  -ms-transition-duration: $duration;
  -o-transition-duration: $duration;
  transition-duration: $duration;
}
@mixin border-radius ($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

.widget.c-#{$component}.c-#{$component}-#{$template} {
  width: 100%;

  .widget-error {
    color: red;
  }
  .widget-title{
    font-size: 16px;
    margin-bottom: 7px;
  }
  .#{$item}-items {

  }
  .#{$item}-date-end {
    display: none;
  }
  .#{$item}-block {
    width: 50px;
    height: 46px;
    padding: 6px 10px;
    line-height: 1;
    text-align: center;
    background: #F2F2F2;
    border-radius: 2px;
  }
  .#{$item}-wrapper-2 {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .#{$item}-time-wrapper {

    &[data-seconds="false"] {
      max-width: 170px;
    }
    &[data-seconds="true"] {
      max-width: 220px;
    }
  }
  .widget-product-timer-header {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 12px;
    color: #404040;
  }
  .#{$item}-time {
    font-weight: bold;
    font-size: 16px;
    color: #404040;
  }
  .#{$item}-description {
    font-weight: 500;
    margin-top: 2px;
    font-size: 12px;
    color: #808080;
  }

  .#{$item}-block.timer-quantity {
    width: fit-content;
    width: -moz-fit-content;
    background: #FBCD56;
    overflow: hidden;
  }
}

@media all and (max-width: 450px) {
  .product-timer-adaptation.small {
    .widget.c-#{$component}.c-#{$component}-#{$template} {
      .widget-product-timer-wrapper {
        display: block!important;
      }
    }
  }

  .product-timer-adaptation.super-small {
    .widget.c-#{$component}.c-#{$component}-#{$template} {
      .widget-product-timer-wrapper {
        display: block!important;
      }
      .widget-product-timer-items {
        flex-wrap: wrap;
      }
      .#{$item}-wrapper {
        flex: 0 0 33.33333%!important;
        max-width: 33.33333%!important;
      }
    }
  }
}