.c-sale-personal-section-default-main-profile-default .main-profile-form-password-annotation {
	color: grey;
	font-weight: lighter;
	font-size: 12px;
	margin: 15px 0 15px 0;
}

.c-sale-personal-section-default-main-profile-default .main-profile-social-block {
	margin-top: 40px;
}

.c-sale-personal-section-default-main-profile-default .form-group .form-control {
	height: 40px;
}



