$namespace: 'bitrix';
$component: 'catalog-item';
$template: 'template-4';
$class: #{$component};

$body: #{$class}-body;
$picture: #{$class}-picture;
$sticker: #{$class}-sticker;
$name: #{$class}-name;
$price: #{$class}-price;
$button: #{$class}-button;

$color-black-1: #1B1E25;
$color-gray-1: #808080;
$color-gray-2: #B0B0B0;
$color-gray-3: #E8E8E8;
$color-white-1: #FFF;
$color-white-2: #F2F2F2;
$color-red-1: #E05757;
$color-red-2: #E15554;
$color-green: #1DB940;
$color-green-light: #10CDA0;
$color-red: #E05757;
$color-yellow: #F4BB28;


@mixin translateX ($translation) {
  -webkit-transform: translateX($translation);
  -moz-transform: translateX($translation);
  -ms-transform: translateX($translation);
  -o-transform: translateX($translation);
  transform: translateX($translation);
}
@mixin background ($size, $repeat, $position) {
  background-size: $size;
  background-repeat: $repeat;
  background-position: $position;
}
@mixin border-radius ($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
@mixin user-select ($select) {
  -webkit-user-select: $select;
  -moz-user-select: $select;
  -ms-user-select: $select;
  user-select: $select;
}
@mixin transition ($property, $duration) {
  -webkit-transition-property: $property;
  -moz-transition-property: $property;
  -ms-transition-property: $property;
  -o-transition-property: $property;
  transition-property: $property;
  -webkit-transition-duration: $duration;
  -moz-transition-duration: $duration;
  -ms-transition-duration: $duration;
  -o-transition-duration: $duration;
  transition-duration: $duration;
}
@mixin transform ($deg) {
  -webkit-transform: rotate($deg);
  -moz-transform: rotate($deg);
  -ms-transform: rotate($deg);
  -o-transform: rotate($deg);
  transform: rotate($deg);
}

.ns-#{$namespace}.c-#{$component}.c-#{$component}-#{$template} {
  @include transition(box-shadow, 0.4s);
  height: 100%;

  &:hover {
    -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.082);
    -moz-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.082);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.082);
  }

  .#{$body} {
    height: 100%;
    padding: 28px 20px;
    position: relative;
    border: 1px solid $color-white-2;
  }

  .#{$class}-block-container {
    & + * {
      margin-top: 18px;
    }
  }

  .#{$picture}-container {
    position: relative;
    width: 50px;
  }
  .#{$picture} {
    position: relative;
    padding-top: 100%;
    z-index: 1;
    display: block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .#{$sticker} {
    pointer-events: none;
    @include user-select(none);
    z-index: 2;

    & + * {
      margin-top: 16px;
    }
  }
  .#{$sticker}-item {
    font-size: 0;
    margin-top: 4px;
    /*margin-left: 4px;
    margin-right: 4px;*/
  }
  .#{$sticker}-label-item {
    & + .#{$sticker}-label-item {
      margin-top: 4px;
    }
  }
  .#{$sticker}-percent {
    @extend %sticker-view;
  }
  .#{$sticker}-label-item {
    @extend %sticker-view;
  }
  %sticker-view {
    span {
      display: inline-block;
      font-size: 12px;
      line-height: 12px;
      font-weight: 500;
      color: $color-white-1;
      background-color: $color-red-2;
      padding: 6px 8px;
      width: 100%;
      text-align: center;
      @include border-radius(2px);
    }
  }

  .#{$name}-container {
    height: 36px;
    overflow: hidden;

    & + * {
      margin-top: 10px;
    }
  }
  .#{$name} {
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: $color-black-1;
    text-decoration: none;
    @include transition(color, 0.4s);
  }

  .#{$price}-current {
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    color: $color-black-1;
  }
  .#{$price}-discount {
    font-size: 13px;
    line-height: 14px;
    color: $color-gray-1;
    text-decoration: line-through;
  }

  .#{$class}-content {
    margin-left: 16px;
  }


  .#{$button}-container {  }
  .#{$button} {
    padding: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  .#{$button}-default {}
  .#{$button}-add {
    &[data-basket-state='added'] {
      display: none;
    }
  }
  .#{$button}-added {
    display: none;

    &[data-basket-state='added'] {
      display: inline-block;
    }
  }
  .#{$button}-unavailable {
    color: $color-gray-1;
    background-color: $color-gray-3;
    border-color: $color-gray-3;
    cursor: not-allowed;
  }
  .#{$button}-content {
    font-size: 0px;

    svg, span {
      display: inline-block;
      vertical-align: middle;
    }
    svg + span {
      padding-left: 6px;
    }
    span {
      font-size: 14px;
      line-height: 20px;
    }
  }
  
  @media all and (max-width: 768px) {
    /*.#{$body} {
      padding-bottom: 32px;
    }*/
  }

  @media all and (max-width: 500px) {}

  %user-select-none {
    @include user-select(none);
  }
}