.widget.c-reviews.c-reviews-template-10 .widget-header {
  position: relative;
}
.widget.c-reviews.c-reviews-template-10 .widget-title {
  max-width: 70%;
  word-break: break-word;
}
.widget.c-reviews.c-reviews-template-10 .widget-link-all {
  position: absolute;
  font-size: 10px;
  line-height: 1;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
  color: #808080;
}
.widget.c-reviews.c-reviews-template-10 .widget-link-all[data-position=left] {
  left: 0;
}
.widget.c-reviews.c-reviews-template-10 .widget-link-all[data-position=right] {
  right: 0;
}
.widget.c-reviews.c-reviews-template-10 .widget-description {
  margin-top: 15px;
}
.widget.c-reviews.c-reviews-template-10 .widget-items {
  padding-left: 120px;
  padding-right: 120px;
}
.widget.c-reviews.c-reviews-template-10 .widget-item-wrapper {
  padding: 0 60px;
  height: 100%;
}
.widget.c-reviews.c-reviews-template-10 .widget-item-date {
  margin-bottom: 12px;
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #808080;
}
.widget.c-reviews.c-reviews-template-10 .widget-item-image {
  display: block;
  width: 64px;
  height: 64px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.widget.c-reviews.c-reviews-template-10 .widget-item-description {
  position: relative;
  margin-top: 12px;
  padding-bottom: 20px;
  font-size: 14px;
  line-height: 24px;
  color: #808080;
}
.widget.c-reviews.c-reviews-template-10 .widget-item-description:before {
  content: "";
  position: absolute;
  top: 0;
  left: -60px;
  width: 32px;
  height: 32px;
  background: url("images/quote_icon.svg") no-repeat center;
  background-size: contain;
}
.widget.c-reviews.c-reviews-template-10 .widget-item-name {
  display: inline-block;
  font-size: 18px;
  line-height: 20px;
  color: #404040;
  text-decoration: none;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -ms-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
}
.widget.c-reviews.c-reviews-template-10 .widget-item-rating {
  color: #dddddd;
}
.widget.c-reviews.c-reviews-template-10 .widget-item-rating-active {
  color: #FBCD56;
}
.widget.c-reviews.c-reviews-template-10 .widget-item-link-detail-button {
  padding: 10px 15px !important;
  font-weight: 500;
  font-size: 10px;
  line-height: 1;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.widget.c-reviews.c-reviews-template-10 .intec-ui-control-navigation {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-20px);
}
.widget.c-reviews.c-reviews-template-10 .intec-ui-control-navigation .intec-ui-part-button-left,
.widget.c-reviews.c-reviews-template-10 .intec-ui-control-navigation .intec-ui-part-button-right {
  font-size: 0;
  width: 40px;
  height: 40px;
  border: 1px solid #f2f2f2;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: background-color 0.3s, border-color 0.3s;
  -moz-transition: background-color 0.3s, border-color 0.3s;
  -ms-transition: background-color 0.3s, border-color 0.3s;
  -o-transition: background-color 0.3s, border-color 0.3s;
  transition: background-color 0.3s, border-color 0.3s;
  background-color: #ffffff;
}
.widget.c-reviews.c-reviews-template-10 .intec-ui-control-navigation .intec-ui-part-button-left:hover,
.widget.c-reviews.c-reviews-template-10 .intec-ui-control-navigation .intec-ui-part-button-right:hover {
  background-color: #f6f6f6;
}
.widget.c-reviews.c-reviews-template-10 .intec-ui-control-navigation .intec-ui-part-button-left:hover i,
.widget.c-reviews.c-reviews-template-10 .intec-ui-control-navigation .intec-ui-part-button-right:hover i {
  color: #ffffff;
}
.widget.c-reviews.c-reviews-template-10 .intec-ui-control-navigation .intec-ui-part-button-left i,
.widget.c-reviews.c-reviews-template-10 .intec-ui-control-navigation .intec-ui-part-button-right i {
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
  font-size: 16px;
}
.widget.c-reviews.c-reviews-template-10 .widget-footer-button {
  color: #2d2d2d !important;
}
.widget.c-reviews.c-reviews-template-10 .widget-footer-button:hover, .widget.c-reviews.c-reviews-template-10 .widget-footer-button:focus, .widget.c-reviews.c-reviews-template-10 .widget-footer-button:active {
  color: #fff !important;
}
.widget.c-reviews.c-reviews-template-10 .widget-items-dots {
  margin-top: 25px;
}
.widget.c-reviews.c-reviews-template-10 .widget-items-dots .widget-items-dot {
  margin-left: 13px;
  border: 1px solid;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -ms-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
}
.widget.c-reviews.c-reviews-template-10 .widget-items-dots .widget-items-dot:first-child {
  margin-left: 0;
}
.widget.c-reviews.c-reviews-template-10 .widget-items-dots .widget-items-dot:not(.active):not(:hover) {
  background: transparent !important;
}
.widget.c-reviews.c-reviews-template-10 .widget-items-dots .widget-items-dot span {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.widget.c-reviews.c-reviews-template-10 .align-left {
  text-align: left;
  justify-content: flex-start;
}
.widget.c-reviews.c-reviews-template-10 .align-center {
  text-align: center;
  justify-content: center;
}
.widget.c-reviews.c-reviews-template-10 .align-right {
  text-align: right;
  justify-content: flex-end;
}
@media all and (max-width: 1024px) {
  .widget.c-reviews.c-reviews-template-10 .widget-items {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media all and (max-width: 500px) {
  .widget.c-reviews.c-reviews-template-10 .widget-items {
    padding-left: 0;
    padding-right: 0;
  }
  .widget.c-reviews.c-reviews-template-10 .widget-item-wrapper {
    padding: 0 0;
  }
  .widget.c-reviews.c-reviews-template-10 .widget-title {
    max-width: 200px;
  }
  .widget.c-reviews.c-reviews-template-10 .widget-item-description {
    position: relative;
    margin-top: 12px;
    padding-bottom: 20px;
    font-size: 14px;
    line-height: 24px;
    color: #808080;
  }
  .widget.c-reviews.c-reviews-template-10 .widget-item-description:before {
    display: none;
  }
}
@media all and (max-width: 425px) {
  .widget.c-reviews.c-reviews-template-10 .align-center .widget-title {
    max-width: 150px;
  }
  .widget.c-reviews.c-reviews-template-10 .align-center .widget-link-all[data-position=right] {
    right: -10px;
    width: 80px;
  }
  .widget.c-reviews.c-reviews-template-10 .align-center .widget-link-all[data-position=left] {
    left: -10px;
    width: 80px;
  }
}

/*# sourceMappingURL=style.css.map */
