$component: 'reviews';
$template: 'template-15';
$item: 'widget-item';

@mixin transition ($value...) {
  -webkit-transition: $value;
  -moz-transition: $value;
  -ms-transition: $value;
  -o-transition: $value;
  transition: $value;
}
@mixin border-radius ($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

.widget.c-#{$component}.c-#{$component}-#{$template} {
  .widget-header-content {
    position: relative;
  }
  .widget-header {
    position: relative;
  }
  .widget-link-all {
    position: absolute;
    font-size: 10px;
    line-height: 1;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none;
    color: #808080;
    &[data-position='left'] {
      left: 0;
    }
    &[data-position='right'] {
      right: 0;
    }
  }
  .widget-description {
    margin-top: 15px;
  }
  .widget-outer-items {
    overflow: visible !important;
  }
  .widget-items {
    overflow: hidden;
    margin-bottom: 12px;
  }
  .widget-item-wrapper {
    padding: 10px;
    height: 100%;
  }
  .widget-owl-item {

    &:not(.center) {
      .#{$item}-description {
        opacity: 0;
      }
      .#{$item}-image {
        width: 64px;
        height: 64px;
        margin-top: 25px;
        -webkit-filter: grayscale(1);
        filter: grayscale(1);
      }
    }
  }
  .#{$item}-content {
    display: none;
  }
  .#{$item}-date {
    margin-bottom: 12px;
    font-size: 10px;
    line-height: 10px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #808080;
  }
  .#{$item}-image {
    display: block;
    margin: 0 auto;
    width: 128px;
    height: 128px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @include border-radius(50%);
  }
  .#{$item}-description {
    position: relative;
    margin-top: 12px;
    padding-bottom: 20px;
    font-size: 14px;
    line-height: 24px;
    color: #808080;
  }

  .#{$item}-name {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 20px;
    color: #404040;
    text-decoration: none;
    @include transition(color 0.4s);
  }
  .#{$item}-rating {
    color: #dddddd;

    &-active {
      color: #FBCD56;
    }
  }
  .#{$item}-link-detail-button {
    padding: 10px 15px !important;
    font-weight: 500;
    font-size: 10px;
    line-height: 1;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }

  .widget-slide-content {
    margin-bottom: 32px;
    padding: 0 40px;
    text-align: center;
    transition: 0.3s;

    .#{$item}-description {
      text-align: center;
    }
  }
  .widget-navigation {
    text-align: center;

    .widget-button-left,
    .widget-button-right {
      display: inline-block;
      margin: 0 4px;
      font-size: 0;
      width: 40px;
      height: 40px;
      border: 1px solid #f2f2f2;
      @include border-radius(2px);
      @include transition(background-color 0.3s, border-color 0.3s);
      background-color: #ffffff;
      cursor: pointer;

      &:hover {
        background-color: #f6f6f6;

        i {
          color: #ffffff;
        }
      }
      i {
        @include transition(color 0.3s);
        color: #808080;
        font-size: 16px;
        line-height: 38px;
      }
    }
    
  }
  .widget-footer-button {
    color: #2d2d2d !important;

    &:hover,
    &:focus,
    &:active {
      color: #fff !important;
    }
  }

  .align-left {
    text-align: left;
    justify-content: flex-start;
  }
  .align-center {
    text-align: center;
    justify-content: center;
  }
  .align-right {
    text-align: right;
    justify-content: flex-end;
  }
  .widget-title {
    max-width: 70%;
    word-break: break-word;
  }

  @media all and (max-width: 768px) {
    .widget-link-all {
      display: none;
    }
  }
  @media all and (max-width: 750px) {
    .#{$item}-image {
      width: 100px;
      height: 100px;
    }
    .widget-owl-item {

      &:not(.center) {
        .#{$item}-image {
          margin-top: 18px;
        }
      }
    }
    .widget-slide-content {
      margin-bottom: 20px;
      padding: 0;
    }
  }
  @media (max-width: 655px) {
    .height {
      height: 145px;
    }
  }
}